# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Database files
*.sqlite3

# Environment variables
.env

# Media files
media/

# Static files
staticfiles/

# Docker
docker-compose.override.yml

# IDE files
.vscode/
.idea/
